<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 justify-content-center resumen-margin">
    <div class="col mx-6 align-self-center">
        <div class="card float-center">
            <div class="card-header">
                DATOS PERSONALES
            </div>
            <div class="card-body">
                <h6 class="card-title">NOMBRE y APELLIDO</h6>
                <p class="card-text">{{appComponent.usuario.Nombre}} {{appComponent.usuario.Apellido}}</p>

                <h6 class="card-title">DNI</h6>
                <p class="card-text">{{appComponent.usuario.DNI}}</p>

                <h6 class="card-title">EMAIL</h6>
                <p class="card-text">{{appComponent.usuario.Email}}</p>

                <h6 class="card-title">CELULAR</h6>
                <p class="card-text">{{appComponent.usuario.Celular}}</p>

                <h6 class="card-title">TELÉFONO</h6>
                <p class="card-text">{{appComponent.usuario.Telefono}}</p>

                <h6 class="card-title">DOMICILIO</h6>
                <p class="card-text">{{appComponent.usuario.Domicilio}}, {{appComponent.usuario.Ciudad}},
                    {{appComponent.usuario.Provincia}}</p>

                <h6 class="card-title">FECHA DE NACIMIENTO</h6>
                <p class="card-text">{{appComponent.usuario.FechaNacimiento}}</p>

                <h6 class="card-title">USUARIO</h6>
                <p class="card-text">{{appComponent.usuario.Usuario}}</p>
            </div>
            <div class="card-header">
                DATOS DEL VEHÍCULO
            </div>
            <div class="card-body">
                <h6 class="card-title">MARCA</h6>
                <p class="card-text">{{appComponent.vehiculo.Marca}}</p>

                <h6 class="card-title">MODELO</h6>
                <p class="card-text">{{appComponent.vehiculo.Modelo}}</p>

                <h6 class="card-title">AÑO</h6>
                <p class="card-text">{{appComponent.vehiculo.Anio}}</p>

                <h6 class="card-title">VERSIÓN</h6>
                <p class="card-text">{{appComponent.vehiculo.Version}}</p>
            </div>
            <div class="card-header">
                COBERTURA
            </div>
            <div class="card-body">
                <h6 class="card-title">TÍTULO</h6>
                <p class="card-text">{{appComponent.coberturaSeleccionada.titulo}}</p>

                <h6 class="card-title">DESCRIPCIÓN</h6>
                <p class="card-text">{{appComponent.coberturaSeleccionada.descripcion}}</p>

                <h6 class="card-title">GRANIZO</h6>
                <p class="card-text">{{appComponent.coberturaSeleccionada.granizoMostrar}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col text-end">
        <button type="button" (click)="showPreviousStep()" class="btn btn-primary bg-btn-mercantil btn-margin">
            ANTERIOR</button>
        <button type="button" (click)="enviarDatos()" class="btn btn-primary bg-btn-mercantil">
            FINALIZAR</button>
    </div>
</div>