<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 justify-content-center mt-4">
    <div class="col mb-2" *ngFor="let item of coberturas">
        <div class="card" [ngClass]="{'border-card-selected': item.codigoProducto === coberturaSeleccionada.codigoProducto}">
            <div class="card-header text-center">
                <h5 class="card-title">{{item.titulo}}</h5>
            </div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-6 col-md-4 text-start">
                        <h5 class="card-title">CÓDIGO</h5>
                    </div>
                    <div class="col-6 col-md-8 text-uppercase">
                        <p class="card-text">{{item.codigoProducto}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 text-start">
                        <h5 class="card-title">PRODUCTO:</h5>
                    </div>
                    <div class="col-6 col-md-8 text-uppercase">
                        <p class="card-text">{{item.producto}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 text-start">
                        <h5 class="card-title">COSTO:</h5>
                    </div>
                    <div class="col-6 col-md-8 text-uppercase">
                        <p class="card-text">$ {{item.costo}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 text-start">
                        <h5 class="card-title">DESCRIPCIÓN:</h5>
                    </div>
                    <div class="col-6 col-md-8 text-uppercase">
                        <p class="card-text">{{item.descripcion}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 text-start">
                        <h5 class="card-title">FRANQUICIA:</h5>
                    </div>
                    <div class="col-6 col-md-8 text-uppercase">
                        <p class="card-text">$ {{item.franquicia}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 text-start">
                        <h5 class="card-title">GRANIZO:</h5>
                    </div>
                    <div class="col-6 col-md-8 text-uppercase">
                        <p class="card-text">{{item.granizoMostrar}}</p>
                    </div>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-primary btn-sm bg-btn-mercantil"
                        (click)="guardarDatos(item)">SELECCIONAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col text-end">
        <button type="button" (click)="showPreviousStep()" class="btn btn-primary bg-btn-mercantil btn-margin">
            ANTERIOR</button>
        <button *ngIf="appComponent.step3Complete" type="button" (click)="showNextStep()"
            class="btn btn-primary bg-btn-mercantil">
            SIGUIENTE</button>
    </div>
</div>