<div class="black-body">
    <div class="container-fluid white-form" style="min-height: 100vh;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 align-self-center">
                <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">

                    <ng-wizard-step [title]="'Datos personales'" [canEnter]="isValidTypeBoolean"
                        [canExit]="isValidFunctionReturnsBoolean.bind(this)">

                        <form id="datosPersonalesForm" #datosPersonalesForm="ngForm"
                            (ngSubmit)="markAsTouched(datosPersonalesForm) && datosPersonalesForm.form.valid && sendInfo(datosPersonalesForm)"
                            ngNativeValidate>
                            <div class="row p-4">
                                <!-- DNI -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="text" [(ngModel)]="usuario.DNI" #DNI="ngModel" name="DNI"
                                                    class="form-control" required placeholder="DNI" minlength="7"
                                                    pattern="\d*" maxlength="8"
                                                    [ngClass]="{'is-valid': DNI.valid && DNI.touched, 'is-invalid': DNI.invalid && DNI.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="DNI.errors && DNI.dirty && DNI.touched" class="with-errors errors">
                                            <div [hidden]="!DNI.errors.required">
                                                Número no puede estar vacío.
                                            </div>
                                            <div [hidden]="!DNI.errors.minlength">
                                                Número debe ser un número entero y contener al menos 7 dígitos.
                                            </div>
                                            <div [hidden]="!DNI.errors.maxlength">
                                                Número debe ser un número entero y contener 8 dígitos como máximo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- NOMBRE -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="text" [(ngModel)]="usuario.Nombre" #Nombre="ngModel"
                                                    name="Nombre" class="form-control" required placeholder="Nombre"
                                                    pattern="[a-zA-Z]+" title="Sólo letras" minlength="2" maxlength="15"
                                                    [ngClass]="{'is-valid': Nombre.valid && Nombre.touched, 'is-invalid': Nombre.invalid && Nombre.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="Nombre.errors && (Nombre.dirty || Nombre.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Nombre.errors.required">
                                                Nombre no puede estar vacío.
                                            </div>
                                            <div [hidden]="!Nombre.errors.minlength">
                                                El nombre debe contener al menos 2 caracteres.
                                            </div>
                                            <div [hidden]="!Nombre.errors.maxlength">
                                                El nombre debe contener 15 caracteres máximo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- APELLIDO -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="text" [(ngModel)]="usuario.Apellido" #Apellido="ngModel"
                                                    name="Apellido" class="form-control" required placeholder="Apellido"
                                                    pattern="[a-zA-Z]+" title="Sólo letras" minlength="2" maxlength="15"
                                                    [ngClass]="{'is-valid': Apellido.valid && Apellido.touched, 'is-invalid': Apellido.invalid && Apellido.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="Apellido.errors && (Apellido.dirty || Apellido.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Apellido.errors.required">
                                                Apellido no puede estar vacío.
                                            </div>
                                            <div [hidden]="!Apellido.errors.minlength">
                                                El apellido debe contener al menos 2 caracteres.
                                            </div>
                                            <div [hidden]="!Apellido.errors.maxlength">
                                                El apellido debe contener 15 caracteres máximo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
                            <div class="row pt-4"> -->
                                <!-- EMAIL -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="email" [(ngModel)]="usuario.Email" #Email="ngModel"
                                                    name="Email" class="form-control" required placeholder="Email"
                                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                    [ngClass]="{'is-valid': Email.valid && Email.touched, 'is-invalid': Email.invalid && Email.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="Email.errors && (Email.dirty || Email.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Email.errors.required">
                                                Email no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CELULAR -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="tel" [(ngModel)]="usuario.Celular" #Celular="ngModel"
                                                    name="Celular" class="form-control" required placeholder="Celular"
                                                    pattern="\d*"
                                                    [ngClass]="{'is-valid': Celular.valid && Celular.touched, 'is-invalid': Celular.invalid && Celular.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="Celular.errors && (Celular.dirty || Celular.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Celular.errors.required">
                                                Celular no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- TELEFONO -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="tel" [(ngModel)]="usuario.Telefono" #Telefono="ngModel"
                                                    name="Telefono" class="form-control" required placeholder="Telefono"
                                                    pattern="\d*"
                                                    [ngClass]="{'is-valid': Telefono.valid && Telefono.touched, 'is-invalid': Telefono.invalid && Telefono.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="Telefono.errors && (Telefono.dirty || Telefono.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Telefono.errors.required">
                                                Teléfono no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
                            <div class="row pt-4"> -->
                                <!-- PROVINCIA -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <select [(ngModel)]="usuario.ProvinciaId" #ProvinciaId="ngModel"
                                                    class="form-control" name="ProvinciaId" required
                                                    (change)="cargarCiudades()"
                                                    [ngClass]="{'is-valid': ProvinciaId.valid && ProvinciaId.touched, 'is-invalid': ProvinciaId.invalid && ProvinciaId.touched}">
                                                    <option value="">Provincia
                                                    </option>
                                                    <option *ngFor="let i of provincias" [value]="i.id">
                                                        {{i.nombre}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div *ngIf="ProvinciaId.errors && (ProvinciaId.dirty || ProvinciaId.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!ProvinciaId.errors.required">
                                                Provincia no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CIUDAD -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <select [(ngModel)]="usuario.CiudadId" #CiudadId="ngModel"
                                                    class="form-control" name="CiudadId" required
                                                    (change)="guardarCiudad()"
                                                    [ngClass]="{'is-valid': CiudadId.valid && CiudadId.touched, 'is-invalid': CiudadId.invalid && CiudadId.touched}">
                                                    <option value="">Ciudad
                                                    </option>
                                                    <option *ngFor="let i of ciudades" [value]="i.id">
                                                        {{i.nombre}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div *ngIf="CiudadId.errors && (CiudadId.dirty || CiudadId.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!CiudadId.errors.required">
                                                Ciudad no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- DOMICILIO -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="text" [(ngModel)]="usuario.Domicilio" #Domicilio="ngModel"
                                                    name="Domicilio" class="form-control" required
                                                    placeholder="Domicilio"
                                                    [ngClass]="{'is-valid': Domicilio.valid && Domicilio.touched, 'is-invalid': Domicilio.invalid && Domicilio.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="Domicilio.errors && (Domicilio.dirty || Domicilio.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Domicilio.errors.required">
                                                Domicilio no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
                            <div class="row pt-4"> -->
                                <!-- FECHA DE NACIMIENTO -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="date" [(ngModel)]="usuario.FechaNacimiento"
                                                    #FechaNacimiento="ngModel" name="FechaNacimiento" min="1922-01-01"
                                                    max="2003-01-01" class="form-control" required
                                                    placeholder="FechaNacimiento"
                                                    [ngClass]="{'is-valid': FechaNacimiento.valid && FechaNacimiento.touched, 'is-invalid': FechaNacimiento.invalid && FechaNacimiento.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="FechaNacimiento.errors && (FechaNacimiento.dirty || FechaNacimiento.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!FechaNacimiento.errors.required">
                                                FechaNacimiento no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- USUARIO -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="text" [(ngModel)]="usuario.Usuario" #Usuario="ngModel"
                                                    minlength="3" maxlength="30"
                                                    (focusout)="usuarioExist(datosPersonalesForm)" name="Usuario"
                                                    class="form-control" required placeholder="Usuario"
                                                    [ngClass]="{'is-valid': Usuario.valid && Usuario.touched, 'is-invalid': Usuario.invalid && Usuario.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="Usuario.errors && (Usuario.dirty || Usuario.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Usuario.errors.required">
                                                Usuario no puede estar vacío.
                                            </div>
                                            <div [hidden]="!Usuario.errors.minlength">
                                                El usuario debe contener al menos 3 caracteres.
                                            </div>
                                            <div [hidden]="!Usuario.errors.maxlength">
                                                El usuario debe contener 30 caracteres máximo.
                                            </div>
                                            <div [hidden]="!Usuario.errors.notUnique">
                                                El usuario ya existe.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CONTRASEÑA -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="password" [(ngModel)]="usuario.Password"
                                                    #Contrasenia="ngModel" name="Contrasenia" class="form-control"
                                                    required placeholder="Contrasenia"
                                                    [ngClass]="{'is-valid': Contrasenia.valid && Contrasenia.touched, 'is-invalid': Contrasenia.invalid && Contrasenia.touched}">
                                            </div>
                                        </div>
                                        <div *ngIf="Contrasenia.errors && (Contrasenia.dirty || Contrasenia.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Contrasenia.errors.required">
                                                Contraseña no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block float-end">
                                        SIGUIENTE</button>
                                </div>
                            </div>
                        </form>

                    </ng-wizard-step>

                    <ng-wizard-step [title]="'Datos de su vehículo'" [canEnter]="isValidTypeBoolean"
                        [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                        <form id="datosVehiculoForm" #datosVehiculoForm="ngForm"
                            (ngSubmit)="markAsTouched(datosVehiculoForm) && datosVehiculoForm.form.valid && datosVehiculoNext(datosVehiculoForm)"
                            ngNativeValidate>
                            <div class="row pt-4">
                                <!-- MARCA -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <select [(ngModel)]="vehiculo.MarcaId" #MarcaId="ngModel"
                                                    class="form-control" name="MarcaId" required
                                                    (change)="guardarMarca()"
                                                    [ngClass]="{'is-valid': MarcaId.valid && MarcaId.touched, 'is-invalid': MarcaId.invalid && MarcaId.touched}">
                                                    <option value="">Marca
                                                    </option>
                                                    <option *ngFor="let i of marcas" [value]="i.codigo">
                                                        {{i.desc}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="MarcaId.errors && (MarcaId.dirty || MarcaId.touched)"
                                                class="with-errors errors">
                                                <div [hidden]="!MarcaId.errors.required">
                                                    Marca no puede estar vacío.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- AÑO -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <select [(ngModel)]="vehiculo.Anio" #Anio="ngModel" class="form-control"
                                                    name="Anio" required (change)="getModelos()"
                                                    [ngClass]="{'is-valid': Anio.valid && Anio.touched, 'is-invalid': Anio.invalid && Anio.touched}">
                                                    <option value="">Año</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2001">2001</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div *ngIf="Anio.errors && (Anio.dirty || Anio.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Anio.errors.required">
                                                Año no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- MODELO -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <select [(ngModel)]="vehiculo.Modelo" #Modelo="ngModel"
                                                    class="form-control" name="Modelo" required
                                                    (change)="getVersiones()"
                                                    [ngClass]="{'is-valid': Modelo.valid && Modelo.touched, 'is-invalid': Modelo.invalid && Modelo.touched}">
                                                    <option value="">Modelo
                                                    </option>
                                                    <option *ngFor="let i of modelos" [value]="i">
                                                        {{i}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div *ngIf="Modelo.errors && (Modelo.dirty || Modelo.touched)"
                                            class="with-errors errors">
                                            <div [hidden]="!Modelo.errors.required">
                                                Modelo no puede estar vacío.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- VERSION -->
                                <div class="col-lg-3 col-md-6 mb-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-10">
                                                <select [(ngModel)]="vehiculo.VersionId" #Version="ngModel"
                                                    class="form-control" name="Version" (change)="guardarVersion()"
                                                    [ngClass]="{'is-valid': Version.valid && Version.touched, 'is-invalid': Version.invalid && Version.touched}">
                                                    <option value="">Version
                                                    </option>
                                                    <option *ngFor="let i of versiones" [value]="i.codigo">
                                                        {{i.desc}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row pt-4">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block float-end">
                                        SIGUIENTE</button>
                                    <button type="button" (click)="showPreviousStep()"
                                        class="btn btn-primary btn-block float-end">
                                        ANTERIOR</button>
                                </div>
                            </div>
                        </form>
                    </ng-wizard-step>

                    <ng-wizard-step [title]="'Coberturas disponibles'" [canEnter]="isValidTypeBoolean"
                        [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 justify-content-center mt-4">
                            <div class="col mb-2" *ngFor="let item of coberturas">
                                <div class="card">
                                    <div class="card-body text-center" style="padding: 0.5rem;">
                                        <div class="row">
                                            <div class="col-6 text-right"><span><b>TITULO:</b></span></div>
                                            <div class="col-6 text-left">
                                                <span><b>{{item.titulo}}</b></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right"><span><b>CÓDIGO:</b></span></div>
                                            <div class="col-6 text-left"><span>{{item.codigoProducto}}</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right"><span><b>PRODUCTO:</b></span></div>
                                            <div class="col-6 text-left">
                                                <span>{{item.producto}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right"><span><b>COSTO:</b></span></div>
                                            <div class="col-6 text-left">
                                                <span>$ {{item.costo}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right"><span><b>DESCRIPCIÓN</b></span>
                                            </div>
                                            <div class="col-6 text-left">
                                                <span>{{item.descripcion}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right"><span><b>FRANQUICIA:</b></span></div>
                                            <div class="col-6 text-left">
                                                <span>$ {{item.franquicia}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right"><span><b>GRANIZO:</b></span></div>
                                            <div class="col-6 text-left">
                                                <span>{{item.granizo}}</span>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <button type="button" class="btn btn-info btn-sm"
                                                (click)="seleccionarCobertura(item)">SELECCIONAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col">
                                <button type="button" (click)="showPreviousStep()"
                                    class="btn btn-primary btn-block float-end">
                                    ANTERIOR</button>
                            </div>
                        </div>
                    </ng-wizard-step>

                    <ng-wizard-step [title]="'Resumen'" [canEnter]="isValidTypeBoolean"
                        [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                        <div class="row pt-4">
                            <div class="col">
                                <h3>DATOS PERSONALES</h3>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>NOMBRE y APELLIDO:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{usuario.Nombre}} {{usuario.Apellido}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>DNI:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{usuario.DNI}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>EMAIL:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{usuario.Email}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>CELULAR:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{usuario.Celular}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>TELÉFONO:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{usuario.Telefono}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>UBICACIÓN:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{usuario.Provincia}}, {{usuario.Ciudad}}, {{usuario.Domicilio}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>FECHA DE NACIMIENTO:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{usuario.FechaNacimiento}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>USUARIO:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{usuario.Usuario}}</span>
                                    </div>
                                </div>
                                <h3>DATOS DEL VEHÍCULO</h3>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>MARCA:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{vehiculo.Marca}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>MODELO:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{vehiculo.Modelo}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>AÑO:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{vehiculo.Anio}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>VERSIÓN:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{vehiculo.Version}}</span>
                                    </div>
                                </div>
                                <h3>COBERTURA</h3>
                                <div class="row">
                                    <div class="col-6 text-right"><span><b>TÍTULO:</b></span></div>
                                    <div class="col-6 text-left">
                                        <span>{{coberturaSeleccionada.titulo}}</span>
                                    </div>
                                </div>
                                <div class="row pt-4">
                                    <div class="col">
                                        <button type="button" (click)="enviarDatos()" class="btn btn-success btn-block float-end">
                                            FINALIZAR</button>
                                        <button type="button" (click)="showPreviousStep()"
                                            class="btn btn-primary btn-block float-end">
                                            ANTERIOR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-wizard-step>
                </ng-wizard>
            </div>
        </div>
    </div>
</div>