<!-- <div class="black-body">
    <div class="container-fluid white-form" style="min-height: 100vh;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 align-self-center">
                <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">

                    <ng-wizard-step [title]="'Datos personales'" [canEnter]="isValidTypeBoolean"
                        [canExit]="isValidFunctionReturnsBoolean.bind(this)">

                        <app-datos-personales></app-datos-personales>
                        
                    </ng-wizard-step>

                    <ng-wizard-step [title]="'Datos de su vehículo'" [canEnter]="isValidTypeBoolean"
                        [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                        <app-datos-vehiculo></app-datos-vehiculo>
                        
                    </ng-wizard-step>

                    <ng-wizard-step [title]="'Coberturas disponibles'" [canEnter]="isValidTypeBoolean"
                        [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                        <app-coberturas-disponibles></app-coberturas-disponibles>
                        
                    </ng-wizard-step>

                    <ng-wizard-step [title]="'Resumen'" [canEnter]="isValidTypeBoolean"
                        [canExit]="isValidFunctionReturnsBoolean.bind(this)">
                        <app-resumen></app-resumen>
                        <div class="row pt-4">
                            <div class="col">
                                <button type="button" (click)="enviarDatos()" class="btn btn-success btn-block float-end">
                                    FINALIZAR</button>
                                <button type="button" (click)="showPreviousStep()"
                                    class="btn btn-primary btn-block float-end">
                                    ANTERIOR</button>
                            </div>
                        </div>
                    </ng-wizard-step>
                </ng-wizard>
            </div>
        </div>
    </div>
</div> -->